.mainBanner {
  font-size: 50px;
  font-weight: bold;
  padding-right: 50px;
  padding-left: 30px;
}

.toplist {
  display: inline;
  font-size: 25px;
  margin: 30px;
}

.toplist a{
  margin: 20px;
}

.leftnav ul{
  list-style-type: none;
  margin-top: 50px;
}
.leftnav li{
 font-size: 20px;

  margin: 30px;
}
